name: Deploy Staging

on:
  push:
    branches:
      - staging
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Execute Remote Deployment Script
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ vars.STAGING_HOST }}
          username: althirdy
          key: ${{ secrets.STAGING_SSH_KEY }}
          script: |
            cd ~/urbanwatch/uat-api
            git pull origin staging
            docker compose -f docker-compose.uat.yml exec -T uat-app composer install --no-dev
            docker compose -f docker-compose.uat.yml exec -T uat-app npm install
            docker compose -f docker-compose.uat.yml exec -T uat-app npm run build
            docker compose -f docker-compose.uat.yml exec -T uat-app php artisan migrate --force
            docker compose -f docker-compose.uat.yml exec -T uat-app php artisan optimize
            docker compose -f docker-compose.uat.yml exec -T uat-app chown -R www-data:www-data storage bootstrap/cache