name: Deploy Staging
on:
  push:
    branches:
      - staging
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Tailscale
        uses: tailscale/github-action@v2
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}

      - name: Execute Single Deployment Script
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ vars.STAGING_HOST }}
          username: althirdy
          key: ${{ secrets.STAGING_SSH_KEY }}
          script: |
            cd ~/urbanwatch/uat-api
            ./deploy-staging.sh